**Realizando a conexão com o MongoDB**

In [5]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from dotenv import load_dotenv
import os
load_dotenv()
db_password = os.getenv("DB_PASSWORD")
uri = f"mongodb+srv://raulblummertz:{db_password}@cluster-pipeline.jzk8vg0.mongodb.net/?appName=Cluster-pipeline"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

## Lendo os dados no MongoDB

In [6]:
db = client["db_produtos"]
collection = db["produtos"]

In [7]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('690a8c6525db5d14f4e9bced'), 'Produto': 'Iniciando em programação', 'Categoria do Produto': 'livros', 'Preço': 43.84, 'Frete': 0.0, 'Data da Compra': '01/01/2020', 'Vendedor': 'Mariana Ferreira', 'Local da compra': 'SP', 'Avaliação da compra': 5, 'Tipo de pagamento': 'cartao_credito', 'Quantidade de parcelas': 1, 'Latitude': -22.19, 'Longitude': -48.79}
{'_id': ObjectId('690a8c6525db5d14f4e9bcee'), 'Produto': 'Pandeiro', 'Categoria do Produto': 'instrumentos musicais', 'Preço': 87.18, 'Frete': 2.2265117938, 'Data da Compra': '01/01/2020', 'Vendedor': 'Thiago Silva', 'Local da compra': 'RJ', 'Avaliação da compra': 4, 'Tipo de pagamento': 'cartao_credito', 'Quantidade de parcelas': 4, 'Latitude': -22.25, 'Longitude': -42.66}
{'_id': ObjectId('690a8c6525db5d14f4e9bcef'), 'Produto': 'Corda de pular', 'Categoria do Produto': 'esporte e lazer', 'Preço': 13.65, 'Frete': 1.2579259604, 'Data da Compra': '01/01/2020', 'Vendedor': 'Camila Ribeiro', 'Local da compra': 'RJ', 'Avaliação da compra': 4, 'Tipo de pagamento': 'boleto', 'Quantidade de parcelas': 1, 'Latitude': -22.25, 'Longitude': -42.66}
{'_id': ObjectId('690a8c6525db5d14f4e9bcf0'), 'Produto': 'Dinossauro Rex', 'Categoria do Produto': 'brinquedos', 'Preço': 28.32, 'Frete': 2.0390593271, 'Data da Compra': '01/01/2020', 'Vendedor': 'Juliana Costa', 'Local da compra': 'RJ', 'Avaliação da compra': 1, 'Tipo de pagamento': 'cartao_debito', 'Quantidade de parcelas': 1, 'Latitude': -22.25, 'Longitude': -42.66}
{'_id': ObjectId('690a8c6525db5d14f4e9bcf1'), 'Produto': 'Jogo de copos', 'Categoria do Produto': 'utilidades domesticas', 'Preço': 54.67, 'Frete': 9.2906273957, 'Data da Compra': '01/01/2020', 'Vendedor': 'Camila Ribeiro', 'Local da compra': 'SP', 'Avaliação da compra': 4, 'Tipo de pagamento': 'boleto', 'Quantidade de parcelas': 1, 'Latitude': -22.19, 'Longitude': -48.79}

**Alterando os nomes dos campos de latitude e longitude**

In [8]:
collection.update_many({}, {"$rename": {"lat": "Latitude", "lon": "Longitude"}})

In [9]:
collection.find_one()

{'_id': ObjectId('690a8c6525db5d14f4e9bced'),
 'Produto': 'Iniciando em programação',
 'Categoria do Produto': 'livros',
 'Preço': 43.84,
 'Frete': 0.0,
 'Data da Compra': '01/01/2020',
 'Vendedor': 'Mariana Ferreira',
 'Local da compra': 'SP',
 'Avaliação da compra': 5,
 'Tipo de pagamento': 'cartao_credito',
 'Quantidade de parcelas': 1,
 'Latitude': -22.19,
 'Longitude': -48.79}

## Aplicando transformações: filtrando registros da categoria livros

Agora, vamos executar uma consulta para obter apenas os dados relacionados à categoria de **livros**.

In [10]:
collection.distinct("Categoria do Produto")

['brinquedos',
 'eletrodomesticos',
 'eletronicos',
 'esporte e lazer',
 'instrumentos musicais',
 'livros',
 'moveis',
 'utilidades domesticas']

In [11]:
query = {"Categoria do Produto": "livros"}
lista_livros = []
for doc in collection.find(query):
    lista_livros.append(doc)
print(f"Total de livros: {len(lista_livros)}")

Total de livros: 741

**Salvando os dados em um DataFrame**

In [13]:
import pandas as pd

df_livros = pd.DataFrame(lista_livros)
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,690a8c6525db5d14f4e9bced,Iniciando em programação,livros,43.84,0.000000,01/01/2020,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
1,690a8c6525db5d14f4e9bcff,Iniciando em programação,livros,63.25,3.894137,01/01/2022,Juliana Costa,RJ,5,cartao_credito,4,-22.25,-42.66
2,690a8c6525db5d14f4e9bd0d,Ciência de dados com python,livros,86.13,5.273176,01/02/2021,Camila Ribeiro,RJ,4,cartao_credito,3,-22.25,-42.66
3,690a8c6525db5d14f4e9bd0f,Ciência de dados com python,livros,72.75,1.458158,01/02/2021,Beatriz Moraes,PR,4,cartao_credito,2,-24.89,-51.55
4,690a8c6525db5d14f4e9bd12,Iniciando em programação,livros,61.73,0.000000,01/02/2021,Beatriz Moraes,SP,4,cartao_credito,1,-22.19,-48.79

## Formatando as datas

Para adicionar dados do tipo DATE em um banco de dados MySQL, é necessário que a data esteja no formato **%Y-%m-%d (ano-mês-dia)**. Portanto, realizaremos uma transformação na coluna "Data de Compra" para ajustá-la a esse formato. Dessa forma, poderemos armazenar corretamente as datas no banco de dados MySQL, garantindo consistência e facilitando consultas baseadas em datas posteriormente.

In [14]:
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     741 non-null    object
 1   Produto                 741 non-null    object
 2   Categoria do Produto    741 non-null    object
 3   Preço                   741 non-null    float64
 4   Frete                   741 non-null    float64
 5   Data da Compra          741 non-null    object
 6   Vendedor                741 non-null    object
 7   Local da compra         741 non-null    object
 8   Avaliação da compra     741 non-null    int64
 9   Tipo de pagamento       741 non-null    object
 10  Quantidade de parcelas  741 non-null    int64
 11  Latitude                741 non-null    float64
 12  Longitude               741 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 75.4+ KB

In [15]:
df_livros["Data da Compra"] = pd.to_datetime(df_livros["Data da Compra"], format="%d/%m/%Y")
df_livros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     741 non-null    object
 1   Produto                 741 non-null    object
 2   Categoria do Produto    741 non-null    object
 3   Preço                   741 non-null    float64
 4   Frete                   741 non-null    float64
 5   Data da Compra          741 non-null    datetime64[ns]
 6   Vendedor                741 non-null    object
 7   Local da compra         741 non-null    object
 8   Avaliação da compra     741 non-null    int64
 9   Tipo de pagamento       741 non-null    object
 10  Quantidade de parcelas  741 non-null    int64
 11  Latitude                741 non-null    float64
 12  Longitude               741 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 75.4+ KB

In [ ]:
df_livros["Data da Compra"] = df_livros["Data da Compra"].dt.strftime("%Y-%m-%d")
df_livros.info()
df_livros.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     741 non-null    object
 1   Produto                 741 non-null    object
 2   Categoria do Produto    741 non-null    object
 3   Preço                   741 non-null    float64
 4   Frete                   741 non-null    float64
 5   Data da Compra          741 non-null    object
 6   Vendedor                741 non-null    object
 7   Local da compra         741 non-null    object
 8   Avaliação da compra     741 non-null    int64
 9   Tipo de pagamento       741 non-null    object
 10  Quantidade de parcelas  741 non-null    int64
 11  Latitude                741 non-null    float64
 12  Longitude               741 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 75.4+ KB

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,690a8c6525db5d14f4e9bced,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
1,690a8c6525db5d14f4e9bcff,Iniciando em programação,livros,63.25,3.894137,2022-01-01,Juliana Costa,RJ,5,cartao_credito,4,-22.25,-42.66
2,690a8c6525db5d14f4e9bd0d,Ciência de dados com python,livros,86.13,5.273176,2021-02-01,Camila Ribeiro,RJ,4,cartao_credito,3,-22.25,-42.66
3,690a8c6525db5d14f4e9bd0f,Ciência de dados com python,livros,72.75,1.458158,2021-02-01,Beatriz Moraes,PR,4,cartao_credito,2,-24.89,-51.55
4,690a8c6525db5d14f4e9bd12,Iniciando em programação,livros,61.73,0.000000,2021-02-01,Beatriz Moraes,SP,4,cartao_credito,1,-22.19,-48.79

In [19]:
df_livros.to_csv("../data/tabela_livros.csv", index=False)

## Aplicando transformações: filtrando produtos vendidos a partir de 2021

Nesta etapa, faremos uma query para selecionar apenas os produtos vendidos a partir do ano de 2021. Utilizaremos um filtro na coluna de data de compra para obter os registros que atendam a essa condição.

In [20]:
collection.find_one()

{'_id': ObjectId('690a8c6525db5d14f4e9bced'),
 'Produto': 'Iniciando em programação',
 'Categoria do Produto': 'livros',
 'Preço': 43.84,
 'Frete': 0.0,
 'Data da Compra': '01/01/2020',
 'Vendedor': 'Mariana Ferreira',
 'Local da compra': 'SP',
 'Avaliação da compra': 5,
 'Tipo de pagamento': 'cartao_credito',
 'Quantidade de parcelas': 1,
 'Latitude': -22.19,
 'Longitude': -48.79}

In [22]:
query = {"Data da Compra": {"$regex":"/202[1-9]"}}
lista_produtos_2021_2029 = []
for doc in collection.find(query):
    lista_produtos_2021_2029.append(doc)

In [23]:
import pandas as pd

df_produtos_2021_2029 = pd.DataFrame(lista_produtos_2021_2029)
df_produtos_2021_2029.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,690a8c6525db5d14f4e9bcf5,Xadrez de madeira,brinquedos,25.23,0.000000,01/01/2021,Thiago Silva,BA,5,cartao_credito,2,-13.29,-41.71
1,690a8c6525db5d14f4e9bcf6,Impressora,eletronicos,322.04,14.732100,01/01/2021,João Souza,SP,3,cartao_credito,1,-22.19,-48.79
2,690a8c6525db5d14f4e9bcf7,Mesa de centro,moveis,282.22,12.611805,01/01/2021,João Souza,SP,3,boleto,1,-22.19,-48.79
3,690a8c6525db5d14f4e9bcf8,Tablet ABXY,eletronicos,1100.42,68.451348,01/01/2021,Beatriz Moraes,SP,1,cupom,1,-22.19,-48.79
4,690a8c6525db5d14f4e9bcf9,Fogão,eletrodomesticos,791.81,42.444626,01/01/2021,Juliana Costa,SP,4,boleto,1,-22.19,-48.79

**Formatando as datas**

In [24]:
df_produtos_2021_2029["Data da Compra"] = pd.to_datetime(df_produtos_2021_2029["Data da Compra"], format="%d/%m/%Y")
df_produtos_2021_2029["Data da Compra"] = df_produtos_2021_2029["Data da Compra"].dt.strftime("%Y-%m-%d")
df_produtos_2021_2029.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,690a8c6525db5d14f4e9bcf5,Xadrez de madeira,brinquedos,25.23,0.000000,2021-01-01,Thiago Silva,BA,5,cartao_credito,2,-13.29,-41.71
1,690a8c6525db5d14f4e9bcf6,Impressora,eletronicos,322.04,14.732100,2021-01-01,João Souza,SP,3,cartao_credito,1,-22.19,-48.79
2,690a8c6525db5d14f4e9bcf7,Mesa de centro,moveis,282.22,12.611805,2021-01-01,João Souza,SP,3,boleto,1,-22.19,-48.79
3,690a8c6525db5d14f4e9bcf8,Tablet ABXY,eletronicos,1100.42,68.451348,2021-01-01,Beatriz Moraes,SP,1,cupom,1,-22.19,-48.79
4,690a8c6525db5d14f4e9bcf9,Fogão,eletrodomesticos,791.81,42.444626,2021-01-01,Juliana Costa,SP,4,boleto,1,-22.19,-48.79

In [25]:
df_produtos_2021_2029.to_csv("../data/tabela_produtos_2021_2029.csv", index=False)